<?xml version="1.0"?>
<config>
  <modules>
    <Makc_GetAjaxProducts>
      <version>0.1.0</version>
    </Makc_GetAjaxProducts>
  </modules>
  <frontend>
    <routers>
      <getajaxproducts>
        <use>standard</use>
          <args>
            <module>Makc_GetAjaxProducts</module>
            <frontName>getajaxproducts</frontName>
          </args>
      </getajaxproducts>
    </routers>
		<layout>
		  <updates>
			<getajaxproducts>
			  <file>getajaxproducts.xml</file>
			</getajaxproducts>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <getajaxproducts>
        <class>Makc_GetAjaxProducts_Helper</class>
      </getajaxproducts>
    </helpers>
	<blocks>
	  <getajaxproducts>
		<class>Makc_GetAjaxProducts_Block</class>
	  </getajaxproducts>
	</blocks>
  </global>
</config> 